{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css'%}">
    <title>Heroku deolyment</title>
</head>

<body>
    <h1>This is the heroku deolyment testing</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea praesentium deleniti consequatur aliquam, ducimus
        ipsa! Laboriosam sequi impedit rerum itaque voluptas voluptatem quasi, eveniet ea tenetur autem sint suscipit
        blanditiis quaerat saepe, repellendus obcaecati eaque! A totam reiciendis esse, facilis, adipisci pariatur quia
        magnam culpa deleniti, voluptates sit natus harum!</p>
</body>

</html>